#calculator {
    font-size: 10px;
    display: grid;
    gap: 1px;
    background-color: var(--darker);
    border: 1px solid var(--darker);
    grid-template-columns: repeat(4, 60px);
    grid-template-rows: repeat(5, 60px);
    grid-template-areas:
        "o  o  o  o"
        "c  c  c  d"
        "b7 b8 b9 a"
        "b4 b5 b6 m"
        "b1 b2 b3 e";

    #output-display {
        grid-area: o;
        background-color: white;
        font-size: 2.9rem;
        padding-right: 3px;
        font-weight: 300;
        text-align: right;
        // vertical-align: bottom;
    }
    
    #clear-button {
        grid-area: c;
        font-size: 2.4rem;
        font-weight: 300;
    }

    .button {
        font-size: 2.4rem;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        user-select: none;

        &:active {
            box-shadow: inset 1px 1px var(--darker);
        }
        
    }
    .number-button, #clear-button {
        background-color: var(--lighter);
        color: var(--darker);
        // font-size
        &:active {
            background-color: var(--light);
        }
    }
    .op-button {
        background-color: var(--darker);
        color: var(--lighter);
        &:active {
            background-color: black;
        }
    }
}


$keys: ('1', '2', '3', '4', '5', '6', '7', '8', '9');
@each $key in $keys {
    #button-b#{$key} {
        grid-area: b#{$key};
    }
}